<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>버거조회</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>버거조회</h1>
      </div>
    </div>

    <div class="container">
        <p>이름: {{burger.name}}</p>
        <p>가격: {{burger.price}}</p>
    </div>

  </body>
</html>