<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>재료목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>재료목록</h1>
        <a class="btn btn-primary" href="ingredients/new">추가하기</a>
      </div>
    </div>

    <div class="container">
      <table class="table text-center">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Name</td>
            <td>Price</td>
          </tr>

          {{#ingredientList}}
          <tr>
            <td>{{id}}</td>
            <td>
              <a href="ingredients/show/{{id}}">
                {{name}}
              </a>
            </td>
            <td>{{price}}</td>
            <td>
              <a class="btn btn-info" href="ingredients/edit/{{id}}">수정</a>
            </td>
            <td>
              <a class="btn btn-danger" href="ingredients/delete/{{id}}">삭제</a>
            </td>
          </tr>
          {{/ingredientList}}
        </tbody>
      </table>
    </div>

  </body>
</html>