{{>layouts/header}}

    <div class="container">
      <table class="table text-center">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Name</td>
            <td>Price</td>
          </tr>

          {{#ingredientList}}
          <tr>
            <td>{{id}}</td>
            <td>
              <a href="ingredients/show/{{id}}">
                {{name}}
              </a>
            </td>
            <td>{{price}}</td>
            <td>
              <a class="btn btn-info" href="ingredients/edit/{{id}}">수정</a>
            </td>
            <td>
              <a class="btn btn-danger" href="ingredients/delete/{{id}}">삭제</a>
            </td>
          </tr>
          {{/ingredientList}}
        </tbody>
      </table>
    </div>

  </body>
</html>