{{>layouts/header}}
    <div class="container">
      <form method="post" action="/ingredients">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="name">이름</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="name" placeholder="예) 치즈" id="name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="price">가격</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="price" placeholder="에) 300" id="price">
          </div>
        </div>
        <div class="form-action">
          <button class="btn btn-primary">제출</button>
        </div>

      </form>
    </div>



  </body>
</html>